@import url('https://fonts.googleapis.com/css2?familyRobotodisplay=swap');

body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

/*

body * {
    border: 1px solid;
    border-color: red;
}

*/

/* HERO SECTION */

.hero-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

/* HEADER CONTAINER */

.hero-header-container {
    box-sizing: border-box;
    display: flex;
    width: 800px;
    margin: 0 200px; 
    align-items: center;
}

.hero-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

.hero-list {
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding-left: 0;
    margin-left: auto;
}

.hero-list li {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration-line: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* HERO CONTENT */

.hero-content-container {
    box-sizing: border-box;
    display: flex;
    width: 800px;
    align-items: center;
    gap: 36px;
    margin-top: 48px;
    margin-bottom: 60px;
}

.hc-text-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hc-title {
    flex: 0 0 auto;
    font-size: 48px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #f9faf8;
}

.hc-desc {
    flex: 0 1 auto;
    font-size: 18px;
    color: #e5e7eb;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-right: 25px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration-line: none;
}

img {
    width: 300px;
    height: 300px;
}

.hc-button {
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    border-radius: 8px;
}

#hc-button-text {
    font-size: 12px;
    color: #f9faf8;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration-line: none;
    font-weight: 900;
}

/* CONTENT SECTION 2 */

.content-2-section {
    box-sizing: border-box;
    display: flex;
    background-color: #f9faf8;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.content-2-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 800px;
    flex-direction: column;
    align-items: center;
    gap: 50px
}

.cs2-title {
    color: #1f2937;
    font-size: 36px;
    font-family:Roboto Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding-top: 12px;
}

.panel-window {
    box-sizing: border-box;
    display: flex;
    gap: 36px;
}

.panel {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 200px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.icon {
    border: 5px solid;
    border-color: #3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.text {
    text-align: center;
    font-size: 18px;
    color: #1f2937;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* CONTENT SECTION 3 */

.content-3-section {
    box-sizing: border-box;
    display: flex;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.content-3-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 700px;
    flex-direction: column;
    margin: 0 200px; 
    align-items: center;
    padding: 60px 0;
}

.cs3-quote {
    color: #1f2937;
    font-size: 36px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: italic;
}

.cs3-author {   
    color: #1f2937;
    font-size: 18px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-left: auto;
}

/* CONTENT SECTION 4 */

.content-4-section {
    box-sizing: border-box;
    display: flex;
    background-color: #f9faf8;
    align-items: center;
    justify-content: center;
    padding: 60px 30px;
}

.content-4-container {
    box-sizing: border-box;
    display: flex;
    background-color: #3882F6;
    flex: 0 0 800px;
    margin: 0 200px; 
    align-items: center;
    padding: 30px 100px;
    border-radius: 10px;
}

.cs4-title {
    color: #f9faf8;
    font-size: 24px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.cs4-desc {
    color: #e5e7eb;
    font-size: 18px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.cs4-button {
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid;
    border-color: #f9faf8;
    margin-left: auto;
}

/* FOOTER */

.footer {
    box-sizing: border-box;
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 12px 4px;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration-line: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}