@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

/*
body * {
    border: 1px solid;
    border-color: red;
}
*/


/* HEADER */

.header-section {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

.header-container {
    display: flex;
    flex: 1 0 1000px;
    margin: 0 200px; 
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    font-family: "Roboto", Arial, Helvetica, sans-serif;

}

.header-list {
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding-left: 0;
    margin-left: auto;
}

.header-list li {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration-line: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* CONTENT SECTION 1 */

.content-1-section {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 60px;
}

.content-1-container {
    display: flex;
    flex: 1 0 1000px;
    margin: 0 200px; 
    align-items: center;
    gap: 50px
}

.content-1-text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cs1-title {
    flex: 0 0 auto;
    font-size: 48px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #f9faf8;
}

.cs1-desc {
    flex: 0 1 auto;
    font-size: 18px;
    color: #e5e7eb;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin-right: 100px;
}

.cs1-img {
    font-size: 18px;
    color: #e5e7eb;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    width: 400px;
    height: 400px;
}

img {
    width: 400px;
    height: 400px;
}

.cs1-button {
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: 900;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    width: 200px;
    height: 50px;
    border-radius: 8px;
}

/* CONTENT SECTION 2 */

.content-2-section {
    display: flex;
    background-color: #f9faf8;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.content-2-container {
    display: flex;
    flex: 0 0 900px;
    flex-direction: column;
    margin: 0 200px; 
    align-items: center;
    gap: 24px;
    padding-bottom: 60px;
}

.cs2-title {
    color: #1f2937;
    font-size: 36px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding-top: 12px;
}

.panel-window {
    display: flex;
    gap: 36px;
    width: 900px;
}

.panel {
    display: flex;
    flex: 0 1 200px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.icon {
    border: 5px solid;
    border-color: #3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.text {
    text-align: center;
    flex: 0 1 auto;
    font-size: 18px;
    color: #1f2937;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* CONTENT SECTION 3 */

.content-3-section {
    display: flex;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.content-3-container {
    display: flex;
    flex: 0 0 900px;
    flex-direction: column;
    margin: 0 200px; 
    align-items: center;
    padding: 60px 0;
}

.cs3-quote {
    color: #1f2937;
    font-size: 36px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
}

.cs3-author {   
    color: #1f2937;
    font-size: 18px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding-top: 12px;
    margin-left: auto;
}

/* CONTENT SECTION 4 */

.content-4-section {
    display: flex;
    background-color: #f9faf8;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.content-4-container {
    display: flex;
    background-color: #3882F6;
    flex: 1 0 1000px;
    margin: 0 200px; 
    align-items: center;
    padding: 30px 100px;
    border-radius: 10px;
}

.cs4-title {
    color: #f9faf8;
    font-size: 24px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.cs4-desc {
    color: #e5e7eb;
    font-size: 18px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.cs4-button {
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: 900;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid;
    border-color: #f9faf8;
    margin-left: auto;
}

/* FOOTER */

.footer {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 12px 4px;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration-line: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}