@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

/*
body * {
    border: 2.5px solid;
    border-color: red;
}
*/

/* HEADER */

.header-section {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.header-container {
    display: flex;
    flex: 1 0 1000px;
    margin: 0 200px; 
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    font-family: "Roboto", Arial, Helvetica, sans-serif;

}

.header-list {
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding-left: 0;
    margin-left: auto;
}

.header-list li {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration-line: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* CONTENT SECTION 1 */

.content-1-section {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.content-1-container {
    display: flex;
    flex: 1 0 1000px;
    margin: 0 200px; 
    align-items: center;
    gap: 50px
}

.content-1-text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cs1-title {
    flex: 0 0 auto;
    font-size: 48px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #f9faf8;
}

.cs1-desc {
    flex: 0 1 auto;
    font-size: 18px;
    color: #e5e7eb;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    margin-right: 100px;
}

.cs1-img {
    font-size: 18px;
    color: #e5e7eb;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    width: 400px;
    height: 400px;
}

#img-balls {
    width: 400px;
    height: 400px;
}

.button-1 {
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: 900;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    width: 200px;
    height: 50px;
    border-radius: 8px;
}

/* FOOTER */

.footer {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 12px 4px;
    font-size: 18px;
    color: #e5e7eb;
    text-decoration-line: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}